@media (min-width: 100px) {


    .header--circle--img {
        img {
            position: relative;
        }
    }

    .portfolio-main-image {
    }


    .--debug-screen{
        @apply bg-yellow-300;
    }


    .lightbox {
        visibility: hidden;
        opacity: 0;
    }


    .lightbox:target {
        visibility: visible;
        opacity: 1;
        transition: all .5s;

    }

}

